body,
html {
  width: 100%;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.special-link > a#special-link{
  color: rgb(0, 0, 150);
}

.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-stacked-show-roman_jdjamc.jpg) no-repeat center center;
  background-size: cover;
}

.adults-avail-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-standing-tall-yard_elohzb.jpg) no-repeat center center;
  background-size: cover;
  background-position: 25% 17%;
}

.ourdogs-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  background-size: cover;
}

.aboutus-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-adults-swimming-pool_xibnig.jpg) no-repeat center center;
  background-size: cover;
  background-position: 25% 25%;
}

.puppies-avail-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-puppy-cropped-sale_yrlvv2.jpg) no-repeat center center;
  background-size: cover;
  background-position: 25% 35%;
}

.question-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-jumping-swim-pool_brvoqq.jpg) no-repeat center center;
  background-size: cover;
}

.ownerstories-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-beach-swim_rk3gby.jpg) no-repeat center center;
  background-size: cover;
}

.standard-genetic-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-cropped-puppy-field_ohekmg.jpg) no-repeat center center;
  background-size: cover;
  background-position: 25% 25%;
}

.litter-announce-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-puppies-for-sale_qeqtd5.jpg) no-repeat center center;
  background-size: cover;
}

.useful-links-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzers-yard-playing_crfu6q.jpg) no-repeat center center;
  background-size: cover;
}

.highlights-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/v1560128435/giant-schnauzer-show-dog-stance_mapjy1.jpg) no-repeat center center;
  background-size: cover;
}

.descript {
  margin: 10px;
  display: block;
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.descript2{
  line-height: 32px;
}

.center {
  text-align: center;
}

.video-center {
  margin-left: auto;
  margin-right: auto;
  display: block
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

table,
tbody,
tr,
td {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.intro-message>h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message>h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-social-buttons i {
  font-size: 80%;
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message>h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons>li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}

.product-card{
  flex-basis: 30%;
  margin-top: .5rem;
}

.product-container{
  display:flex;
  justify-content: space-between;
  width: 75%;
  flex-wrap:wrap;
}

@media screen and (max-width: 850px) {
  .product-container{
    flex-direction:column;
    align-items:center;
    width: 100%;
  }

  .product-card{
    width: 75%;
    margin-bottom: 1rem;
  }
}



.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-stacked-show-roman_jdjamc.jpg) no-repeat center center;
  background-size: cover;
}

@media(max-width:200px) {
  .banner {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_200/giant-schnauzer-stacked-show-roman_jdjamc.jpg) no-repeat center center;
  }

  .ourdogs-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_200/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .intro-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_200/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .aboutus-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_200/giant-schnauzer-adults-swimming-pool_xibnig.jpg) no-repeat center center;
  }

  .adults-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_200/giant-schnauzer-standing-tall-yard_elohzb.jpg) no-repeat center center;
  }

  .puppies-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_200/giant-schnauzer-puppy-cropped-sale_yrlvv2.jpg) no-repeat center center;
  }

  .question-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_200/giant-schnauzer-jumping-swim-pool_brvoqq.jpg) no-repeat center center;
  }

  .ownerstories-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_200/giant-schnauzer-beach-swim_rk3gby.jpg) no-repeat center center;
  }

  .standard-genetic-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_200/giant-schnauzer-cropped-puppy-field_ohekmg.jpg) no-repeat center center;
  }

  .litter-announce-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_200/giant-schnauzer-puppies-for-sale_qeqtd5.jpg) no-repeat center center;
  }

  .useful-links-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_200/giant-schnauzers-yard-playing_crfu6q.jpg) no-repeat center center;
  }

  .highlights-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_200/giant-schnauzer-show-dog-stance_mapjy1.jpg) no-repeat center center;
  }

}

@media(max-width:344px) {
  .banner {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_344/giant-schnauzer-stacked-show-roman_jdjamc.jpg) no-repeat center center;
  }

  .ourdogs-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_344/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .intro-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_344/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .aboutus-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_344/giant-schnauzer-adults-swimming-pool_xibnig.jpg) no-repeat center center;
  }

  .adults-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_344/giant-schnauzer-standing-tall-yard_elohzb.jpg) no-repeat center center;
  }

  .puppies-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_344/giant-schnauzer-puppy-cropped-sale_yrlvv2.jpg) no-repeat center center;
  }

  .question-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_344/giant-schnauzer-jumping-swim-pool_brvoqq.jpg) no-repeat center center;
  }

  .ownerstories-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_344/giant-schnauzer-beach-swim_rk3gby.jpg) no-repeat center center;
  }

  .standard-genetic-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_344/giant-schnauzer-cropped-puppy-field_ohekmg.jpg) no-repeat center center;
  }

  .litter-announce-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_344/giant-schnauzer-puppies-for-sale_qeqtd5.jpg) no-repeat center center;
  }

  .useful-links-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_344/giant-schnauzers-yard-playing_crfu6q.jpg) no-repeat center center;
  }

  .highlights-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_344/giant-schnauzer-show-dog-stance_mapjy1.jpg) no-repeat center center;
  }
}

@media(max-width:453px) {
  .banner {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_453/giant-schnauzer-stacked-show-roman_jdjamc.jpg) no-repeat center center;
  }

  .ourdogs-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_453/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .intro-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_453/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .aboutus-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_453/giant-schnauzer-adults-swimming-pool_xibnig.jpg) no-repeat center center;
  }

  .adults-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_453/giant-schnauzer-standing-tall-yard_elohzb.jpg) no-repeat center center;
  }

  .puppies-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_453/giant-schnauzer-puppy-cropped-sale_yrlvv2.jpg) no-repeat center center;
  }

  .question-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_453/giant-schnauzer-jumping-swim-pool_brvoqq.jpg) no-repeat center center;
  }

  .ownerstories-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_453/giant-schnauzer-beach-swim_rk3gby.jpg) no-repeat center center;
  }

  .standard-genetic-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_453/giant-schnauzer-cropped-puppy-field_ohekmg.jpg) no-repeat center center;
  }

  .litter-announce-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_453/giant-schnauzer-puppies-for-sale_qeqtd5.jpg) no-repeat center center;
  }

  .useful-links-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_453/giant-schnauzers-yard-playing_crfu6q.jpg) no-repeat center center;
  }

  .highlights-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_453/giant-schnauzer-show-dog-stance_mapjy1.jpg) no-repeat center center;
  }
}

@media(max-width:636px) {
  .banner {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_636/giant-schnauzer-stacked-show-roman_jdjamc.jpg) no-repeat center center;
  }

  .ourdogs-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_636/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .intro-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_636/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .aboutus-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_636/giant-schnauzer-adults-swimming-pool_xibnig.jpg) no-repeat center center;
  }

  .adults-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_636/giant-schnauzer-standing-tall-yard_elohzb.jpg) no-repeat center center;
  }

  .puppies-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_636/giant-schnauzer-puppy-cropped-sale_yrlvv2.jpg) no-repeat center center;
  }

  .question-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_636/giant-schnauzer-jumping-swim-pool_brvoqq.jpg) no-repeat center center;
  }

  .ownerstories-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_636/giant-schnauzer-beach-swim_rk3gby.jpg) no-repeat center center;
  }

  .standard-genetic-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_636/giant-schnauzer-cropped-puppy-field_ohekmg.jpg) no-repeat center center;
  }

  .litter-announce-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_636/giant-schnauzer-puppies-for-sale_qeqtd5.jpg) no-repeat center center;
  }

  .useful-links-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_636/giant-schnauzers-yard-playing_crfu6q.jpg) no-repeat center center;
  }

  .highlights-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_636/giant-schnauzer-show-dog-stance_mapjy1.jpg) no-repeat center center;
  }
}

@media(max-width:846px) {
  .banner {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_846/giant-schnauzer-stacked-show-roman_jdjamc.jpg) no-repeat center center;
  }

  .ourdogs-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_846/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .intro-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_846/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .aboutus-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_846/giant-schnauzer-adults-swimming-pool_xibnig.jpg) no-repeat center center;
  }

  .adults-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_846/giant-schnauzer-standing-tall-yard_elohzb.jpg) no-repeat center center;
  }

  .puppies-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_846/giant-schnauzer-puppy-cropped-sale_yrlvv2.jpg) no-repeat center center;
  }

  .question-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_846/giant-schnauzer-jumping-swim-pool_brvoqq.jpg) no-repeat center center;
  }

  .ownerstories-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_846/giant-schnauzer-beach-swim_rk3gby.jpg) no-repeat center center;
  }

  .standard-genetic-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_846/giant-schnauzer-cropped-puppy-field_ohekmg.jpg) no-repeat center center;
  }

  .litter-announce-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_846/giant-schnauzer-puppies-for-sale_qeqtd5.jpg) no-repeat center center;
  }

  .useful-links-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_846/giant-schnauzers-yard-playing_crfu6q.jpg) no-repeat center center;
  }

  .highlights-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_846/giant-schnauzer-show-dog-stance_mapjy1.jpg) no-repeat center center;
  }
}

@media(max-width:971px) {
  .banner {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_971/giant-schnauzer-stacked-show-roman_jdjamc.jpg) no-repeat center center;
  }

  .ourdogs-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_971/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .intro-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_971/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .aboutus-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_971/giant-schnauzer-adults-swimming-pool_xibnig.jpg) no-repeat center center;
  }

  .adults-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_971/giant-schnauzer-standing-tall-yard_elohzb.jpg) no-repeat center center;
  }

  .puppies-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_971/giant-schnauzer-puppy-cropped-sale_yrlvv2.jpg) no-repeat center center;
  }

  .question-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_971/giant-schnauzer-jumping-swim-pool_brvoqq.jpg) no-repeat center center;
  }

  .ownerstories-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_971/giant-schnauzer-beach-swim_rk3gby.jpg) no-repeat center center;
  }

  .standard-genetic-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_971/giant-schnauzer-cropped-puppy-field_ohekmg.jpg) no-repeat center center;
  }

  .litter-announce-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_971/giant-schnauzer-puppies-for-sale_qeqtd5.jpg) no-repeat center center;
  }

  .useful-links-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_971/giant-schnauzers-yard-playing_crfu6q.jpg) no-repeat center center;
  }

  .highlights-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_971/giant-schnauzer-show-dog-stance_mapjy1.jpg) no-repeat center center;
  }
}

@media(max-width:1027px) {
  .banner {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1027/giant-schnauzer-stacked-show-roman_jdjamc.jpg) no-repeat center center;
  }

  .ourdogs-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1027/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .intro-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1027/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .aboutus-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1027/giant-schnauzer-adults-swimming-pool_xibnig.jpg) no-repeat center center;
  }

  .adults-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1027/giant-schnauzer-standing-tall-yard_elohzb.jpg) no-repeat center center;
  }

  .puppies-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1027/giant-schnauzer-puppy-cropped-sale_yrlvv2.jpg) no-repeat center center;
  }

  .question-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1027/giant-schnauzer-jumping-swim-pool_brvoqq.jpg) no-repeat center center;
  }

  .ownerstories-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1027/giant-schnauzer-beach-swim_rk3gby.jpg) no-repeat center center;
  }

  .standard-genetic-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1027/giant-schnauzer-cropped-puppy-field_ohekmg.jpg) no-repeat center center;
  }

  .litter-announce-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1027/giant-schnauzer-puppies-for-sale_qeqtd5.jpg) no-repeat center center;
  }

  .useful-links-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1027/giant-schnauzers-yard-playing_crfu6q.jpg) no-repeat center center;
  }

  .highlights-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1027/giant-schnauzer-show-dog-stance_mapjy1.jpg) no-repeat center center;
  }
}

@media(max-width:1141px) {
  .banner {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1141/giant-schnauzer-stacked-show-roman_jdjamc.jpg) no-repeat center center;
  }

  .ourdogs-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1141/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .intro-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1141/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .aboutus-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1141/giant-schnauzer-adults-swimming-pool_xibnig.jpg) no-repeat center center;
  }

  .adults-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1141/giant-schnauzer-standing-tall-yard_elohzb.jpg) no-repeat center center;
  }

  .puppies-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1141/giant-schnauzer-puppy-cropped-sale_yrlvv2.jpg) no-repeat center center;
  }

  .question-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1141/giant-schnauzer-jumping-swim-pool_brvoqq.jpg) no-repeat center center;
  }

  .ownerstories-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1141/giant-schnauzer-beach-swim_rk3gby.jpg) no-repeat center center;
  }

  .standard-genetic-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1141/giant-schnauzer-cropped-puppy-field_ohekmg.jpg) no-repeat center center;
  }

  .litter-announce-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1141/giant-schnauzer-puppies-for-sale_qeqtd5.jpg) no-repeat center center;
  }

  .useful-links-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1141/giant-schnauzers-yard-playing_crfu6q.jpg) no-repeat center center;
  }

  .highlights-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1141/giant-schnauzer-show-dog-stance_mapjy1.jpg) no-repeat center center;
  }
}

@media(max-width:1255px) {
  .banner {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1255/giant-schnauzer-stacked-show-roman_jdjamc.jpg) no-repeat center center;
  }

  .ourdogs-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1255/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .intro-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1255/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .aboutus-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1255/giant-schnauzer-adults-swimming-pool_xibnig.jpg) no-repeat center center;
  }

  .adults-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1255/giant-schnauzer-standing-tall-yard_elohzb.jpg) no-repeat center center;
  }

  .puppies-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1255/giant-schnauzer-puppy-cropped-sale_yrlvv2.jpg) no-repeat center center;
  }

  .question-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1255/giant-schnauzer-jumping-swim-pool_brvoqq.jpg) no-repeat center center;
  }

  .ownerstories-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1255/giant-schnauzer-beach-swim_rk3gby.jpg) no-repeat center center;
  }

  .standard-genetic-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1255/giant-schnauzer-cropped-puppy-field_ohekmg.jpg) no-repeat center center;
  }

  .litter-announce-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1255/giant-schnauzer-puppies-for-sale_qeqtd5.jpg) no-repeat center center;
  }

  .useful-links-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1255/giant-schnauzers-yard-playing_crfu6q.jpg) no-repeat center center;
  }

  .highlights-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1255/giant-schnauzer-show-dog-stance_mapjy1.jpg) no-repeat center center;
  }
}

@media(max-width:1400px) {
  .banner {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-stacked-show-roman_jdjamc.jpg) no-repeat center center;
  }

  .ourdogs-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .intro-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-westminister-show_uwt7ib.jpg) no-repeat center center;
  }

  .aboutus-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-adults-swimming-pool_xibnig.jpg) no-repeat center center;
  }

  .adults-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-standing-tall-yard_elohzb.jpg) no-repeat center center;
  }

  .puppies-avail-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-puppy-cropped-sale_yrlvv2.jpg) no-repeat center center;
  }

  .question-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-jumping-swim-pool_brvoqq.jpg) no-repeat center center;
  }

  .ownerstories-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-beach-swim_rk3gby.jpg) no-repeat center center;
  }

  .standard-genetic-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-cropped-puppy-field_ohekmg.jpg) no-repeat center center;
  }

  .litter-announce-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-puppies-for-sale_qeqtd5.jpg) no-repeat center center;
  }

  .useful-links-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzers-yard-playing_crfu6q.jpg) no-repeat center center;
  }

  .highlights-header {
    background: url(https://res.cloudinary.com/djjyxjoz2/image/upload/c_scale,w_1400/giant-schnauzer-show-dog-stance_mapjy1.jpg) no-repeat center center;
  }
}


.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }

  ul.banner-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
  }
}

.footerclass {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.footerclass2 {
  display: block;
  position: relative;
}

p.copyright {
  margin: 15px 0 0;
}

.bg-color {
  background-color: #FFFFFF;
}

.margin-left {
  margin-left: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.margin-bottom-small {
  margin-bottom: 25px;
}

.margin-top {
  margin-top: 50px;
}

.margin-top-small {
  margin-top: 25px;
}

#top-spacer {
  padding-top: 20px;
}

.medium1 {
  font-size: 14px;
  font: 6 3vh/1 'Dancing Script', Georgia, Times, serif;
}

.large2 {
  font-size: 20px;
  font: 10 5vh/1 'Dancing Script', Georgia, Times, serif;
}

.no-padding{
  padding: 0;
}

.some-padding-left{
  padding-left: 20px;
}

.some-padding-left-child{
  padding-left: 20px;
}

.some-padding-left-child > li {
  margin-bottom: 5px;
}

.header-black {
  color: rgb(0, 0, 150);
}

.petLivingMargin {
  margin-left: 16vw;
}

.register-name {
  font-size: 35px;
}

.call-name {
  font-size: 25px;
  margin-top: 15px;
}

.co-own-name {
  font-size: 25px;
  font-style: italic;
}

.mother {
  font-size: 20px;
  margin-top: 15px;
}

.father {
  font-size: 20px;
  margin-top: 15px;
}

.dob {
  font-size: 20px;
  margin-top: 15px;
}

.home-page-announcement {
  width: 70vh;
  margin: 0 auto;
}

.home-page-picture {
  width: 20vh;
  height: 25vh;
}

#bot-trap {
  width: 0;
  height: 0;
  z-index: -99999;
  display: none;
}